:root{
 ---cor-primaria: #FFFF00;
    --cor-secundária; #8D3970;
    --cor-fundo: #ffffff;
    --cor-texto: #151428;
    --cor-contraste: #f3eef7;
    --cor-botão: #f9f9f9;

    --fonte-texto: 'Georgia' sans-serif; 
}

.tema-escuro{
    -cor-primaria: #e4e4cd;
    --cor-secundária: #fb5fc4;
    --cor-fundo: #f9d7d7 ;
    --cor-texto: #b0aeec;
    --cor-contraste: #cec4d6;
    --cor-botão: #dfc2c2;
}

.tema-escuro a {
    color: var(--cor-secundária);
}

.tema-escuro p {
    color: var(--cor-texto)
}

.tema-escuro header {
    color: var(--cor-contraste)
}

body {
    max-width: 80vw;
    font-family:var(--fonte-texto)
}

header {
    background-color: var(--cor-secundária)
    color: var(--cor-contraste)
    text-align: center;
    margin: 14px auto;
    padding: 14px;
}

main {
    background-color: var(--cor-fundo)
    color: var(var(---cor-primaria))
    margin: 14px auto;
    padding: 14px;
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex: 1 1 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #8D3970; 
    margin: 14px;
    gap: 14px;
    padding: 14px;
    box-sizing: border-box; 
}

img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
}

.artigo-autor {
    font-weight: bold;
}

.btn-tema-escuro{
    position: fixed
    bottom: 14px;
    rigth: 14px;
    font-size: 34px;
    padding: 10px;
    background-color: var(--cor-primaria);
    border-radius: 50%;
}